.return-home{
    display:flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #111;
}

.homepage{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
span{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.secondary a {
    text-decoration: underline;
    color: rgb(251, 85, 0);
    font-size: 20px;
    margin-top: -40px;
}

.secondary p{
    color: rgb(138, 132, 129);
}

.contact-info .item{
    height: auto;
    padding: 20px;
    border: 1px solid white;
    border-bottom-left-radius: 50px;
    border-top-right-radius:50px ;
    border-top-left-radius: 50px;
}

.contact-info .item:hover{
    background-color:black;
    transform:scale(0.9);
  }