*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: rgb(255, 81, 0);
}

::-webkit-scrollbar{
  width: 0px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: #353b48;
}

.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}


.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 80%;
    background-size:cover;
    transition: .2s;
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 20px;
    border: 1px solid white;
    padding: 7px 10px;
    display: flex;
    align-items: center;
}

.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
    text-decoration: none;
}

.navbar-menu a:hover{
    color: rgb(255, 81, 0);
    transform: scale(1.5) translate(10%,0%);
}

.sticky{
    background-color: #fff;
    padding: 10px 0;
}

.sticky .logo{
    color: black;
    border: 1px solid black;
} 

.sticky .navbar-menu a{
    color: #111;
}

.sticky .menu-toggler span{
    background-color: #111;
}

#home{
    height: 100vh;
    min-height: 500px;
    background:url(../images/back.gif) no-repeat center;
    background-size: cover;
    filter:blur(3);
    -webkit-filter:blur(3);
    background-attachment: fixed;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: #fff;
}

#home .content h1{
    font-size: 50px;
    margin-bottom: 60px;
}

#home .content h1::after{
    content:"Hi, I'm Nischal Dhakal";
    animation: lala 10s linear infinite;
}
@keyframes lala {
    20%{
        content:" I'm a Software Engineering Student";
    }
    40%{
        content:" I'm a Digital Marketer";
    }
    60%{
        content:" I'm a Developer";
    }
    80%{
        content:" I'm a Brand Designer";
    }
}

.sm a{
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
    text-decoration: solid;
}

.sm a:hover{
  color:rgb(255, 81, 0);
  transform: rotateZ(45deg) scale(1.5);
}

#home .buttons{
    margin-top: 60px;
}

#home .buttons a{
    display: inline-block;
    margin: 15px 10px;
    color: rgb(255, 81, 0);
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
    text-decoration: none;
}

#home .buttons a:hover
{
    background-color: rgb(230, 69, 5);
    color: #fff;
}

#home .buttons a:hover{
  transform:scale(0.9);
}

section{
    padding: 100px 0;
    background-color:#fff;
  }
  
  .section-title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #111;
  }
  
  .section-title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
  }
  
  .section-title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: rgb(230, 69, 5);
    border: 4px solid #fff;
    left: calc(50% - 12px);
    bottom: -7px;
  }

  
  .about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .about-pic{
    width: 200px;
    border-radius: 50%;
    margin-right: 100px;
    transition: .2s;
  }
  
  .about-text{
    flex: 1;
  }
  
  .about-text a{
    font-family: monospace bold;
    font-weight: 700;
    color:black;
  }
  .about-text h2{
    color: black;
    margin-top:0;
    font-family: monospace bold;
    font-weight: 500;
  }

  .about-text h3{
    margin: 10px 0;
    color: #444;
    font-size: 16px;
  }

  .about-text h3 span:nth-child(1):after,
  .about-text h3 span:nth-child(2):after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
  }

  .about-text p{
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
  }

  .skills{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .skill{
    width: calc(50% - 20px);
    margin: 15px 0;
  }
  
  .skill-info{
    display: flex;
    justify-content: space-between;
  }
  
  .skill-bar{
    height: 3px;
    background-color: #ddd;
    margin-top: 14px;
    position: relative;
  }
  
  .skill-bar::after{
    content: "";
    position: absolute;
    height: 6px;
    background-color: rgb(255, 81, 0);
    bottom: 0;
  }
  
  .html:after{
    width: 90%;
  }
  
  .css:after{
    width: 80%;
  }
  
  .js:after{
    width: 50%;
  }
  
  .py:after{
    width: 60%;
  }
  
  .ps:after{
    width: 80%;
  }
  
  .c:after{
    width: 70%;
  }

  .php::after{
    width: 60%;
  }

  .cpp::after{
    width: 70%;
  }

  .mysql::after{
    width: 50%;
  }
  .bash::after{
    width: 30%;
  }


  section.dark{
    background-color: #111;
  }

  section.dark .section-title{
    color: #f1f1f1;
  }

  section.dark .section-title::before{
    background-color: #f1f1f1;
  }

  section.dark .section-title::after{
    border: 4px solid #111;
  }

  .services{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
  }

  .service{
    width: calc(50% - 20px);
    text-align: center;
    border: 1px solid rgb(255, 81, 0);
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
  }

  .service .icon{
    color: rgb(255, 81, 0);
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
  }

  .service h4{
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 6px;
  }

  .service:hover{
    background-color: rgb(255, 81, 0);
    transform:scale(0.9);
  }

  .service:hover .icon{
    color:#fff; 
  }
  
  .time-line,.works{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .block{
    width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 30px;
    position: relative;
    transition: .5s;
  }
  
  .block::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .block::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(255, 81, 0);
    left: -28px;
    top: 30px;
    border-radius: 50%;
  }
  .block:hover{
    transform:scale(0.9);
    transition: .5s;
  }
  
  .block h3{
    font-size: 16px;
    margin: 10px 0;
  }
  
  .block p{
    font-size: 15px;
    color: #444;
  }



  .project-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
    text-decoration: none;
    gap: 25px;
    
  }
  
  .project-info .item{
    width: calc(33% - 20px);
    height: 160px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    transition: .3s linear;
    text-decoration: none;
    border: 1px solid rgb(230, 69, 5);

  }

  
  
  .project-info i{
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
    text-decoration: none;
    color: rgb(230, 69, 5);
    transition: .3s linear;
  }
  
  .project-info .item:hover{
    background-color: rgb(255, 81, 0);
    transform:scale(0.9);
  }

  .project-info .item:hover i{
    color: #fff;
    transition: .7s;
  }


  .projects .inner-width{
    background-color: white;
    padding: 40px 0px;
    width: 80%;
  }

  .projects .projects-container{
    margin-left: 3%;
    padding: 40px 0px;

  }

  .projects .project-info{
    margin-bottom: 60px;
    width:calc(100% - 20px);
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
  }

  .projects .btn{
    color: #111;
    background-color: rgb(255, 81, 0);
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  #webdevelopment{
    display: none;
  }

  #cybersecurity, #others{
    display: none;
  }
  
  .contact-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
    text-decoration: none;
    gap: 25px;
    margin-bottom: 100px;
  }
  
  .contact-info .item{
    width: calc(33% - 20px);
    height: 160px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    transition: .3s linear;
    text-decoration: none;

  }
  
  .contact-info a{
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
    text-decoration: none;
    color: rgb(255, 81, 0);
  }

  .contact-info .item:hover a{
    color: #fff;
    transition: .7s;
  }
  
  .contact-info .item:hover{
    background-color: rgb(255, 81, 0);
    transform:scale(0.9);
  }

  .contact-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-form input, .contact-form textarea{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #000000;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
  }
  
  .nameZone, .emailZone{
    max-width: calc(50% - 10px);
  }
  
  .messageZone{
    min-height: 200px;
    resize: vertical;
  }
  
  .contact-form .btn{
    width: 180px;
    background-color:black;
    color: white;
    font-size: 16px;
    border: none;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: .3s linear;
  }
  
  .contact-form .btn:hover{
    background-color: rgb(255, 81, 0);
    color: #fff;
  }

 
  
  footer{
    color: #fff;
    padding: 80px 0;
    text-align: center;
    background:url(../images/back.gif) no-repeat center;
  }
  
  .copyright{
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .copyright a{
    font-size: 16px;
    color: rgb(161, 159, 158);
    font-weight: 500;
    text-decoration: none;
  }
  
  .goTop{
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 81, 0);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
  }

@media screen and (max-width: 980px){
    .menu-toggler{
      display: block;
    }
  
    .navbar-menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: #353b48;
      top: 0;
      right: -100%;
      max-width: 400px;
      padding: 80px 50px;
      transition: .3s linear;
    }
  
    .navbar-menu a{
      display: block;
      font-size: 30px;
      margin: 30px 0;
    }
  
    .sticky .navbar-menu{
      background-color: #f1f1f1;
    }
    
    .navbar-menu.active{
      right: 0;
    }
  
    .menu-toggler.active span:nth-child(1){
      transform: rotate(-45deg);
      top: 4px;
    }
  
    .menu-toggler.active span:nth-child(2){
      opacity: 0;
    }
  
    .menu-toggler.active span:nth-child(3){
      transform: rotate(45deg);
      bottom: 14px;
    }

    .inner-width{
      max-width: 800px;
    }

    .about-pic{
      margin: 0 auto 60px;
    }

    .about-text{
      flex: 100%;
      text-align: center;
    }

    .project-info{
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }

    .project-info .item{
      width: 80%;
      height: 160px;
      background-color: #111;
      color: #fff;
      text-align: center;
      border-radius: 1px;
      cursor: pointer;
      transition: .3s linear;
      text-decoration: none;
    }

    .contact-info{
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }

    .contact-info .item{
      width: 80%;
      height: 160px;
      background-color: #111;
      color: #fff;
      text-align: center;
      border-radius: 1px;
      cursor: pointer;
      transition: .3s linear;
      text-decoration: none;
    }

    @media screen and (max-width: 600px){
    .inner-width{
        padding: 0 20px;
      }
    }

    .skill{
      width:100%;
    }

    .service{
      width: 100%;
    }
    .nameZone, .emailZone{
      max-width: 100%;
    }
  }